.Mountain-Bike {
  width: 567px;
  height: 373px;
  margin: 23px 0px;
}

.City-Bike {
  width: 567px;
  height: 229px;
  margin: 23px 0px;
}

.Road-Bike {
  width: 521px;
  height: 300px;
  margin: 23px 2px;
}

.Cross-Bike {
  width: 521px;
  height: 300px;
  margin: 23px 2px;
}

.Image {
  width: inherit;
  height: inherit;
  object-fit: cover;
  position: relative;
}

.Image-cover {
  display: none;
  width: inherit;
  height: inherit;
  opacity: 0.4;
  z-index: 5;
  background-color: black;
  position: absolute;
  transition: 0.5s ease-out all;
}

.wrapper:hover .Image-cover {
  display: block;
}

.Image-over-text {
  font-size: 50px;
  font-weight: bold;
  background-color: aliceblue;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
